* {
    background-color: #c7ecee;
}

nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    background-color: #4834d4;
}

nav p {
    text-decoration: underline;
    font-family: "Permanent Marker";
}

nav div a{
    background-color: #4834d4;
}

nav a:link {
    color: #ffbe76;
}

nav a:visited {
    color: #ff7979;
}

header h1 {
    font-family: Creepster;
    color: #330527;
    text-align: center;
}

#header_logo{
   display: flex;
   justify-content: center;
}

.band_members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .125rem;
    flex-direction: row;
}

.lead, .bassist, .guitarist, .drummer {
    flex-basis: 10rem;
}

#band img {
    width: 16rem;
    height: auto;
    margin: auto;
    display: block;
}

#band .lead img{
    width: 9rem;
}

#band h2 {
    color:#7862c7;
    font-family: "Bebas Neue";
    text-decoration: underline;
    text-align: center;
}

#band h3{
    color:#338179fd;
    font-family: "Permanent Marker";
    text-decoration: underline;
    text-align: center;
}

#band p {
    font-family: "Bebas Neue";
    color:#20180e;
    font-size: 1.25rem;
}

#tour {
    text-align: center;
}

#tour h1 {
    font-family: Creepster;
    color:#330527;
    text-decoration: underline;
}

#tour h2 {
    font-family: "Bebas Neue";
    text-decoration: none;
    color:#570b7c;
}

#tour h3 {
    text-decoration: none;
}


#tour hr {
    color: #535c68;
}

#album h1 {
    font-family: Creepster;
    color:#330527;
    text-decoration: underline;
    text-align: center;
}

#album h2 {
    font-family: "Permanent Marker";
}

#album {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: .125rem;
    flex-wrap: wrap;
}

#merch h1{
    font-family: Creepster;
    color:#330527;
    text-decoration: underline;
    text-align: center;
}

.t_shirt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: .125rem;
    flex-wrap: wrap;
}

.t_shirt image {
    height: auto;
    margin: auto;
    display: block;
}

.t_shirt h3{
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.t_shirt p{
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.long_sleeve {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: .125rem;
    flex-wrap: wrap;
}

.long_sleeve image{
    height:auto;
    margin: auto;
    display: block;
}

.long_sleeve h3{
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.long_sleeve p{
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.hat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: .125rem;
    flex-wrap: wrap; 
}

.hat image{
    height: auto;
    margin: auto;
    display: block;
}

.hat h3{
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

.hat p{
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
}

#contact h1{
    text-align: center;
    font-family: Creepster;
    color:#330527;
    text-decoration: underline;
}

.bottom{
    background-color:#4834d4;
    padding-top: 0rem;
    position: static;
    bottom: 0rem;
    width: 100%;
    height: 9rem;
    display: flex;
    justify-content: center;
}

.bottom image{
    height: 0.25rem;
    background-color:#4834d4;
    bottom: 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
}